<%= form_for @recipe do |form| %>
  <div>
    <%= errors_for(@recipe, "Could not save the new recipe").html_safe %>
  </div>
  <div>
    <%= form.label :title, 'Title' %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :synopsis, 'Synopsis' %>
    <%= form.text_area :synopsis %>
  </div>
  <div>
    <%= form.label :description, 'Description' %>
    <%= form.text_area :description, :class => :medium %>
  </div>
  <div>
    <%= form.label :ingredient_list, 'Ingredients' %>
    <%= form.text_area :ingredient_list, :class => :large %>
  </div>
  <div>
    <%= form.label :preparation_method, 'Preparation method' %>
    <%= form.text_area :preparation_method, :class => :large %>
  </div>
  <div>
    <%= form.label :category, 'Category' %>
    <% %w(vegan vegetarian non_vegetarian).each do |category| %>
      <br>
        <%= radio_button_tag 'Category', category, category == 'vegetarian' %>
        <%= category.humanize %>
      </br>
    <% end %> 
  </div>
  <div>
    <% @recipe.recipe_photos.each do |photo| %>
    <div>
      <%= image_tag photo.image.extra_small.url %>
      <%= photo.title %>
      <%= link_to 'Edit', edit_recipe_recipe_photo_path(@recipe, photo) %>
      <%= link_to 'Delete', recipe_recipe_photo_path(@recipe, photo), :method => :delete, :confirm => "Are you sure?" %>
    </div>
    <% end %>
  </div>
  <div>
    <%= link_to 'New Photo', new_recipe_recipe_photo_path(@recipe) if params[:action] == 'edit' %>
  </div>
  <div class="formActions">
    <%= form.submit(params[:action] == 'edit' ? 'Update' : 'Save', :class => 'formButton') %>
    <%= link_to 'Cancel', params[:action] == 'edit' ? recipe_path(@recipe) : recipes_path , :class => 'formButton' %>
  </div>
<% end %>
