<section id="main" class="container">
  <div class="recipeSearch">
    <%= form_tag search_recipes_path, :method => 'get', :remote => true do %>
    <%= text_field_tag 'search', nil, :placeholder => 'Search by ingredient or recipe' %>
    <%# Below line is now commented out as it is redundant. Using the Rails built-in :placeholder which does the job.%>
    <%#= text_field_tag 'search', nil, :class => 'watermark', :data => { :'watermark-text' => 'Search by ingredient or recipe' } %>
    <%= submit_tag 'Go' %>
    <% end %>
  </div>

  <div id='recipeListContainer'>
    <%= render :partial => 'recipes' %>
  </div>

  <div>
    <%= link_to 'New recipe', new_recipe_path if user_signed_in? %>
  </div>
</section>
