<section id="main" class='container recipeContainer'>
  <h2><%= @recipe.title %></h2>

  <div class='contentMain'>
    <p><%= @recipe.synopsis %></p>
    <p><%= md_to_html @recipe.description %></p>
    <div id='recipeImageContainer'>
      <%= image_tag @recipe.primary_photo.image.large.url, :id => :recipePhotoImage if @recipe.primary_photo %>
    </div>
    <% if @recipe.recipe_photos.count > 1 %>
      <nav class='dotNav'>
        <ul>
          <% @recipe.recipe_photos.each do |photo| %>
            <li>
              <a class='<%= photo == @recipe.primary_photo ? 'filledDot' : 'emptyDot' %>' href='#' data-image-url='<%= photo.image.large.url %>'></a>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>
    <div class='clear'></div>

    <h3>Ingredients</h3>
    <div class='markdownInplaceEditor' data-class='recipe' data-attribute='ingredient_list' data-url='<%= recipe_path(@recipe) %>'>
      <% if user_signed_in? %>
        <a href='#'>edit</a>
      <% end %>
      <textarea><%= @recipe.ingredient_list%></textarea>
      <div><%= md_to_html @recipe.ingredient_list %></div>
    </div>

    <h3>Preparation method</h3>
    <div class='markdownInplaceEditor' data-class='recipe' data-attribute='preparation_method' data-url='<%= recipe_path(@recipe) %>'>
      <% if user_signed_in? %>
        <a href='#'>edit</a>
      <% end %>
      <textarea><%= @recipe.preparation_method %></textarea>
      <div><%= md_to_html @recipe.preparation_method %></div>
    </div>
  </div>
  <div class='contentSidePanel'>
    <menu class='sidePanelMenu'>
      <% if user_signed_in? %>
        <%= link_to edit_recipe_path(@recipe) do %>
          <span class='icon-pencil icon'></span>
          <span class='label'>Edit this recipe</span>
        <% end %>
        <%= link_to recipe_path(@recipe), :method => :delete, :confirm => 'Are you sure?' do %>
          <span class='icon-trash icon'></span>
          <span class='label'>Delete this recipe</span>
        <% end %>
      <% end %>
      <%= link_to recipes_path do %>
        <span class='icon-arrow-left icon'></span>
        <span class='label'>Back to recipe list</span>
      <% end %>
      <div>
        <span><%= @recipe.category.humanize %></span>
      </div>
    </menu>
    <%
      similar_recipes = @recipe.similar_recipes
      if similar_recipes.present?
    %>
    <h3>You might also like to try</h3>
    <menu class='sidePanelMenu'>
      <% similar_recipes.each do |similar_recipe| %>
        <%= link_to recipe_path(similar_recipe) do %>
          <span><%= similar_recipe.title %></span>
        <% end %>
      <% end %>
    </menu>
    <% end %>
    <div>
      <%= pin_it_button media: (@recipe.primary_photo ? @recipe.primary_photo.image.large.url : nil),
        description: @recipe.title %>
    </div>
  </div>
</div>
