<nav id='banner'>
  <div class='container'>
    <nav id="menu">
      <ul>
        <li><%= link_to 'Home', root_path, :'data-section' => :home %></li>
        <li><%= link_to 'Recipes', recipes_path, :'data-section' => :recipes %></li>
        <li><%= link_to 'Classes', classes_path, :'data-section' => :classes %></li>
        <li><%= link_to 'Blog', blog_posts_path, :'data-section' => :blog_posts %></li>
        <li class='right'>
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, :'data-section' => :login, :method => 'delete' %>
          <% else %>
            <%= link_to 'Login', new_user_session_path, :'data-section' => :login %>
          <% end %>
        </li>
      </ul>
    </nav>
    <% if flash[:notice] %>
      <p class='notice'><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class='error'><%= flash[:error] %></p>
    <% end %>
  </div>
</nav>
