<div id='parallax'>
  <div id='homePanel' class='parallaxPanel' data-content='' data-background='nicervada.jpeg'>
    <div class='container'>
      <div class='homeContent'>
        <h1><%= t('copy.homeContent.title') %></h1>
        <p><%= t('copy.homeContent.text') %></p>
      </div>
    </div>
  </div>
  <div id='recipesPanel' class='parallaxPanel parallaxPanelLight' data-content='recipes'>
    <div class='container'>
      <div class='parallaxTitle'>Recipes</div>
      <div class='parallaxSubtitle'>Tasty treats for all the family...</div>
      <%= render :partial => 'shared/carousel' %>
    </div>
  </div>
  <div id='classesPanel' class='parallaxPanel parallaxPanelLight' data-content='classes' data-background='wheat.jpg'>
    <div class='container'>
      <div class='parallaxTitle'>Classes</div>
      <div class='parallaxSubtitle'>Come learn traditional Indian cooking...</div>
      <div class='classesContent'>
        <h1>Maharastrian Vegetarian Cooking</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class='classesContent'>
        <h1>South Indian Cooking</h1>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
      <div class='classesContent'>
        <h1>North Indian non-Veg Cooking</h1>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
  <div id='contactPanel' class='parallaxPanel' data-content='contact'>
    <a id='contact'></a>
    <div class='container'>
      <div class='parallaxTitle'>Contact</div>
      <div class='parallaxSubtitle'>Don't be shy tweet, email or call us - we love to talk about tasty grub</div>
      <div id='newsletterSignUp'>
        <article class='title'>Still want to hear more from us? Sign up for our monthly newsletter:</article>
        <article id='subscriptionFormContainer'>
          <%= render :partial => 'subscriptions/form' %>
        </article>
      </div>
      <div id='social'>
        <a id='twitter' href='http://twitter.com/thechimni'>
          <h2 class='title'>Follow us on Twitter</h2>
          <%= image_tag('twitter_logo.png', :size => '100x100', :alt => 'Recent tweets') %>
          <ul>
            <% @tweets.each do |tweet| %>
              <li><%= tweet %></li>
            <% end %>
          </ul>
        </a>
        <a id='email' href='mailto:info@zanzaneet.com'>
          <h2 class='title'>Email us</h2>
          <%= image_tag('email_logo.png', :size => '100x100', :alt => 'Email us') %>
          <ul>
            <li>info@zanzaneet.com</li>
          </ul>
        </a>
      </div>
    </div>
  </div>
</div>

