<div id='parallax'>
  <div id='homePanel' class='parallaxPanel' data-content='' data-background='nicervada.jpeg'>
    <div class='container'>
      <div class='homeContent'>
        <h1><%= t('copy.home.home_panel.title') %></h1>
        <p><%= t('copy.home.home_panel.text') %></p>
      </div>
    </div>
  </div>
  <div id='recipesPanel' class='parallaxPanel parallaxPanelLight' data-content='recipes'>
    <div class='container'>
      <div class='parallaxTitle'><%= t('copy.home.recipes_panel.title') %></div>
      <div class='parallaxSubtitle'><%= t('copy.home.recipes_panel.subtitle') %></div>
      <%= render :partial => 'shared/carousel' %>
    </div>
  </div>
  <div id='classesPanel' class='parallaxPanel parallaxPanelLight' data-content='classes' data-background='wheat.jpg'>
    <div class='container'>
      <div class='parallaxTitle'><%= t('copy.home.classes_panel.title') %></div>
      <div class='parallaxSubtitle'><%= t('copy.home.classes_panel.subtitle') %></div>
      <% 3.times do |n| %>
        <div class='classesContent'>
          <h1><%= t("copy.home.classes_panel.class#{n}.title") %></h1>
          <p><%= t("copy.home.classes_panel.class#{n}.text") %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div id='contactPanel' class='parallaxPanel' data-content='contact'>
    <a id='contact'></a>
    <div class='container'>
      <div class='parallaxTitle'><%= t('copy.home.contact_panel.title') %></div>
      <div class='parallaxSubtitle'><%= t('copy.home.contact_panel.subtitle') %></div>
      <div id='newsletterSignUp'>
        <article class='title'>Still want to hear more from us? Sign up for our monthly newsletter:</article>
        <article id='subscriptionFormContainer'>
          <%= render :partial => 'subscriptions/form' %>
        </article>
      </div>
      <div id='social'>
        <a id='twitter' href='http://twitter.com/thechimni'>
          <h2 class='title'>Follow us on Twitter</h2>
          <%= image_tag('twitter_logo.png', :size => '100x100', :alt => 'Recent tweets') %>
          <ul>
            <% @tweets.each do |tweet| %>
              <li><%= tweet %></li>
            <% end %>
          </ul>
        </a>
        <a id='email' href='mailto:info@zanzaneet.com'>
          <h2 class='title'>Email us</h2>
          <%= image_tag('email_logo.png', :size => '100x100', :alt => 'Email us') %>
          <ul>
            <li>info@zanzaneet.com</li>
          </ul>
        </a>
      </div>
    </div>
  </div>
</div>

