<%= form_for @subscription do |form| %>
  <div>
    <%= errors_for(@subscription).html_safe %>
  </div>
  <div>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email, 'Email' %>
    <%= form.email_field :email, :required => 'true' %>
  </div>
  <div class="formActions">
    <%= form.submit('Subscribe', :class => 'formButton') %>    
  </div>
<% end %>