<%= form_for @subscription do |form| %>
  <% if flash[:notice] %>
    <p class='notice'><%= flash[:notice] %></p>
  <% end %>
  <div>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email, 'Email' %>
    <%= form.text_field :email %>
  </div>
  <div class="formActions">
    <%= form.submit('Subscribe', :class => 'formButton') %>    
  </div>
<% end %>