<%= form_for @subscription, :remote => true do |form| %>
  <div>
    <!-- The errors here are only rendered for an Ajax response -->
    <%= errors_for(@subscription).html_safe %>
  </div>
  <div>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email, "Email <span class='mandatory'>Required</span>".html_safe %>
    <%= form.email_field :email, :required => 'true' %>
  </div>
  <div class='formActions'>
    <%= form.submit('Subscribe', :class => 'subscribeButton') %>    
  </div>
<% end %>