<!DOCTYPE html>
<html>
<head>
  <title>Kitchen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <header>
    <div id="banner">
      My Rustic Kitchen
    </div>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Recipes', recipes_path %></li>
    </ul>
  </header>
  <%= yield %>  
</div>
</body>
</html>
